<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        </style>
    </head> 
    <body>
        <div style="width: 85%; margin: 0 7.5%;">
            <div style="text-align: center; padding-left: 10px;">            
                <h3>User Fine  details </h5>
                <table>
                        <th style=" padding: 10px;">User ID</th>
                        <th style=" padding: 10px;">Name</th>
                        <th style=" padding: 10px;">Issued Books Name</th>
                        <th style=" padding: 10px;">Author</th>
                        <th style=" padding: 10px;">Category</th>
                        <th style=" padding: 10px;">Issued On</th>
                        <th style=" padding: 10px;">Return Date</th>
                        <th style=" padding: 10px;">Days Late</th>
                        <th style=" padding: 10px;">Total Fine Implemented</th>
                    
                        <tr style=" padding: 10px;"><th><%= userDetails[0].id%></th>
                        <th style=" padding: 10px;"><%= userDetails[0].first_name + " " + userDetails[0].last_name%></th>
                        <th style=" padding: 10px;"><%= userDetails[0].issued_books[0].book.title%></th>
                        <th style=" padding: 10px;"><%= userDetails[0].issued_books[0].book.author%></th>
                        <th style=" padding: 10px;"><%= userDetails[0].issued_books[0].book.category%></th>
                        <th style=" padding: 10px;"><%= userDetails[0].issued_books[0].issued_on%></th>
                        <th style=" padding: 10px;"><%= userDetails[0].issued_books[0].return_date%></th>
                        <th style=" padding: 10px;"><%= days%></th>
                        <th style=" padding: 10px;"><%= fine%></th>

                      
                </table>
             </div>
        </div>