<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        </style>
    </head> 
    <body>
        <div style="width: 85%; margin: 0 7.5%;">
            <div style="text-align: center; padding-left: 10px;">            
                <h3>User details </h5>
                <table>
                        <th style=" padding: 10px;">User ID</th>
                        <th style=" padding: 10px;">Name</th>
                        <th style=" padding: 10px;">Issued Books</th>
                        <th style=" padding: 10px;">Department</th>
                        <th style=" padding: 10px;">Issued On</th>
                    <% for(let i =0;i < userDetails.issued_books.length;i++) {%>
                        <tr style=" padding: 10px;"><th><%= userId%></th>
                        <th style=" padding: 10px;"><%= userName%></th>
                        <th style=" padding: 10px;"><%= userDetails.issued_books[i].book.book_title%></th>
                        <th style=" padding: 10px;"><%= userDetails.issued_books[i].book.department%></th>
                        <th style=" padding: 10px;"><%= userDetails.issued_books[i].issued_on%></th></tr>
                        <% }%>
                </table>
             </div>
        </div>