<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        </style>
    </head> 
    <body>
        <div style="width: 85%; margin: 0 7.5%;">
            <div style="text-align: center; padding-left: 50px;">            
                <h3>Book Added </h5>
                <table>
                        <th>Books Id</th>
                        <th>Title</th>
                        <th>author</th>
                        <th>category</th>
                        <th>quantity</th>
                        <th>quantity_remaining</th>
                    <% for(var i =0;i < books.length;i++) {%>
                        <tr><th><%= books[i].id%></th>
                        <th><%= books[i].title%></th>
                        <th><%= books[i].author%></th>
                        <th><%= books[i].category%></th>
                        <th><%= books[i].quantity%></th>
                        <th><%= books[i].quantity_remaining%></th></tr>
                        <% }%>
                </table>
             </div>
        </div>